# How to write .gitignore? See:  https://git-scm.com/docs/gitignore

# Installed packages
/elpa

# Compiled files
*.elc

# Temp files
\#*

# Auto saved info
/auto-save-list

# eshell history
/eshell

# Cache for recentf-mode
recentf

# Cache for treemacs-mode
/.cache

# Cache for lsp-model: session storage
.lsp-session*

# Custom file generated via the interactive 'customize' interface
custom.el

# Cache for web browser
/url

# Cache for desktop
.emacs.desktop*

# Unknown cache
/server
/transient
/temp
ido.last
/pyim
projectile-bookmarks.eld
/arki.cache

/tramp
/.dap-breakpoints
/eaf/
/.mc-lists.el
/.org-id-locations
/nov-places
/org-roam.db
/settings.el
