# How to write .gitignore? See:  https://git-scm.com/docs/gitignore

# Installed packages
/elpa

# Temp files
\#*

# Auto saved info
/auto-save-list

# eshell history
/eshell

# Cache for recentf-mode
recentf

# Cache for treemacs-mode
/.cache

# Cache for lsp-model: session storage
.lsp-session*

# Custom file generated via the interactive 'customize' interface
custom.el

# Cache for web browser
/url

# Unknown cache
/server
/transient
/temp